* {
	box-sizing: border-box;
}

html {
}

body {
	font-size: 20px;
	font-family: "helvetica neue", "helvetica", "sans-serif";
	font-weight: 100;
	color: rgb(44,44,44);
}

h1 {
	font-size: 1em;
}

h2 {

}

h3 {
}

h4{

}

h5{
	font-family: "georgia";
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8em;
	padding-bottom: 30px;
	text-align: center;
	font-weight: 500;
}

h6 {

}

a {

}

p {
	font-size: 0.9em;
	padding-bottom: 20px;
	line-height: 20px;
	font-style: justify;
}

em {
	font-style: italic;
	font-weight: 200;
}

a:hover {
	color: rgba(64,179,80,1);
	border-bottom: 1px solid rgba(64,179,80,1);

}

a {
	color: rgba(64,179,80,1);
	text-decoration: none;
}


span {
	font-size: 0.8em;
	height: 3em;

}





