<div class="main">
	<div class="container">
		<h1>Contacto</h1>

		<div class="section-contacto media">

			<div class="contacto-item">
				<h3><i class="fa fa-envelope"></i> Mail</h3>
				<h4><a href="mailto:esquer.pacheco@gmail.com">esquer.pacheco@gmail.com</a></h4>
			</div>

			<div class="contacto-item">
				<h3><i class="fa fa-facebook"></i> Facebook</h3>
				<a target="facebook" href="https://www.facebook.com/eavaluos?fref=ts">
				<h4>/eavaluos</h4>
				</a>
			</div>
		</div>

		<div class="section-contacto phone">

			<div class="contacto-item">
				<h3><i class="fa fa-mobile"></i> Celular</h3>
				<h4>6622 990370</h4>
			</div>

			<div class="contacto-item">
				<h3><i class="fa fa-phone"></i> Hermosillo</h3>
				<h4>(662) 3 01 07 37</h4>
			</div>

			<div class="contacto-item">
				<h3><i class="fa fa-phone"></i> Cd. Obregón</h3>
				<h4>(644) 4164760</h4>
			</div>

			<div class="contacto-item">
				<h3><i class="fa fa-phone"></i> Navojoa</h3>
				<h4>(64242) 30311</h4>
			</div>
		</div>


	</div>
</div>