
<div class="main">
	
<div class="container">
	
	
		<div class="columns">
			<div class="column column-dos-tercios">
				<h1>La experiencia<br>nos respalda</h1>
				
				<h2>Ing. Jose Humberto Esquer Pacheco</h2>

				<p>Es licenciado en Ingenieria Civil e Ingeniero Agronomo, cuenta también con estudios de Maestría en Valuación Inmobilaria. Es a partir de la conjugación de estas disciplinas que ha alcanzado una sólida formación y conocimiento dentro de esta área de trabajo.</p>

			  	<p>Desde el 2007 ha realizado valuaciones de bienes inmuebles, agropecuarios y de maquinaria dentro y fuera del estado. A partir del 2014 se incorpora a la mesa directiva del Colegio de Valuadores Profesionales del Estado Sonora.</p>

			</div>

			<div class="column column-un-tercio">
				<div class="section-grey">
					<h2>Cédulas</h2>
					<h3>Ingeniero Agronomo<br><em>Cedula No. 2290193</em></h3>
					<!-- <h3>Ingeniero Civil: pendiente</h3> -->
					<h3>Maestria en Valuación Inmobiliaria<br><em>Cedula No. 5743640</em></h3>
					<h3>Perito Valuador<br><em>No. RPV-0170</em></h3>
					<h3>Instituto Catastral y Registral | SHCP | Gobierno del Estado de Sonora</h3>
				</div>
			</div>
		</div>

	</div>
</div>
</div>