<div class="section section-full-screen section-hero">
  <h1 class="logo">Ale<em>camp</em></h1>

  <div class="banner">
    <!--   <h4>Hola, mi nombre es Alejandra, soy artista visual y<br> construyo páginas web funcionales y simples.</h4> -->
    <h1>Tu sitio en 5 días<br>Hosting gratis ilimitado<br><em>5,000 mxn</em></h1>
  </div>

  <a href="#portafolio" class="scroll-to continue fast-forward">
    <span class="fa fa-chevron-down"></span>
    <span class="fa fa-chevron-down"></span>
  </a>    
</div>

<div class="container">
  <div id="portafolio" class="section">
    <h5>sitios por alecamp</h5>
    <div class="columns columns-guttered">
      <div class="column column-medios">
        <div class="masonary-panel">
          <a target="target" href="http://miriamsalado.com/">
            <img src="imagenes/1.jpg" />
            <div class="cover">
              <p>miriamsalado.com</p>
              <h2>A partir del dibujo, busca resaltar las particularidades estéticas de la identidad y la banalidad del ser humano.</h2>

            </div>
          </a>
        </div>
        <div class="masonary-panel">
          <a target="target" href="http://juancarloscoppel.com/">
            <img src="imagenes/2.jpg" />
            <div class="cover">
              <p>juancarloscoppel.com</p>
              <h2>Sus fotografías elaboran una crítica a la mecanización con que se asume el espacio natural, desviando la mirada del observador hacia lo indomable.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="column column-medios">
        <div class="masonary-panel">
          <a target="target" href="http://mariajosesesma.com/">
            <img src="imagenes/4.jpg" />
            <div class="cover">
              <p>mariajosesesma.com</p>
              <h2>Su principal interés es criticar las causas y los efectos en el comportamiento humano, así como su relación con el espacio y los íconos que lo moldean.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="column column-medios">
        <div class="masonary-panel">
          <a target="target" href="http://carlosivanhernandez.mx/">
            <img src="imagenes/3.jpg" />
            <div class="cover">
              <p>carlosivanhernandez.mx</p>
              <h2>Reconocer un terreno implica modificar su percepción, es decir, producir un extrañamiento en donde los rastros terminen reabsorbiéndose en la naturaleza.</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="banner">
  <!--   <img src="/imagenes/profile.jpg" -->
    <h5>Alecamp trabaja con el objetivo de hacer una experiencia personal y de calidad para la construcción de páginas web.</h5>
    <p><a href="mailto:alehandra.aviles@gmail.com">alehandra.aviles@gmail.com</a></p>
  </div>


  <div class="section section-light section-intro">
<!--     <h5>Todos los sitios incluyen</h5> -->
    <div class="columns">
      <div class="column column-cuartos">
        <div class="feature">
          <img src="/imagenes/icon1.png"/>
          <h3>Programación</h3>
          <p>Css, Html y Javascript</p>
        </div>
      </div>

      <div class="column column-cuartos">
        <div class="feature">
          <img src="/imagenes/icon2.png"/>
          <h3>Diseño web</h3>
          <p>Sencillo y actual</p>
        </div>          
      </div>

      <div class="column column-cuartos">
        <div class="feature">
          <img src="/imagenes/icon3.png"/>
          <h3>Diseño responsivo</h3>
          <p>Para móviles y tablets</p>
        </div>          
      </div>

      <div class="column column-cuartos">
        <div class="feature">
          <img src="/imagenes/icon4.png"/>
          <h3>SEO</h3>
          <p>Los buscadores te encuentran</p>
        </div>          
      </div>
    </div>
  </div>
</div>
 
<!-- <div class="container">
  <div class="contact waypoint">
  <h5>entra en contacto</h5> 
    <p>
    <a href="mailto:alehandra.aviles@gmail.com">alehandra.aviles@gmail.com</a></p>
  </div>
</div> -->

<div class="section section-faq">
  <div class="container">
    <h5>preguntas frecuentes</h5>
    <div class="columns">
      <div class="column column-tercios">
        <h4>¿Que es el hosting?</h4>
        <p>Es el servicio que almacena tu página en internet. Normalmente se paga mensual o anualmente junto con el dominio. Nos sentimos orgullosos de ofrecer este servicio gratis e ilimitado.</p>

        <h4>¿Que tipo de hosting ofrecen?</h4>
        <p>Ofrecemos un hosting con servidores de primer nivel para mentener la misma velocidad de carga en cualquier parte del mundo y sin ningún limite de espacio en almacenamiento.</p>
      </div>

      <div class="column column-tercios">
        <h4>¿Cuanto cuesta un dominio aproximadamente?</h4>
        <p><em>.com</em> 15 dlls<br><em>.mx</em> 45 dlls<br><em>.org </em>16 dlls<br><em>.net </em>16 dlls</p>

        <h4>¿El precio incluye el dominio?</h4>
        <p>No. Recomendamos comprarlo en <em>gandi.net.</em></p>

        <h4>¿Pueden administrar mi dominio?</h4>
        <p>Ayudamos a comprar el dominio. Pero preferimos que tu estés a cargo de la cuenta, para que tengas control sobre las renovaciones anuales.</p>
      </div>

      <div class="column column-tercios">
       <h4>¿Que necesito para empezar mi sitio?</h4>
        <p>Cada sitio es distinto. Lo que es importante en todos, es tener los archivos del contenido.</p>

        <h4>¿Que es SEO?</h4>
        <p>Search Engiene Optimisation: Todos los sitios están estructurados para ayudar los buscadores google, bing, yahoo a entender el contenido. Esto hace que las personas encuentren con más facilidad tu sitio.</p>
      </div>
    </div>
  </div>
</div>