<div id="banner" >
	<div class="container main"> 
		<!-- <div class="columns"> -->
			<!-- <div class="column column-dos-tercios"> -->
				<h1 class="tagline">Sabemos el valor de<br>su propiedad</h1>
			<!-- </div>
			<div class="column column-un-tercio"> -->
				<ul class="bullets">
					<li><i class="fa fa-check"></i> Atención inmediata</li>
					<li><i class="fa fa-check"></i> Experiencia</li>
					<li><i class="fa fa-check"></i> Criterios normativos vigentes</li>
				</ul>
				<a href="/servicios"><h4>VER SERVICIOS</h4></a>
			<!-- </div>
		</div> -->
	</div>
</div>