<div class="main">
<div class="container">
 

  <div class="columns">
    <div class="column column-un-tercio">
     <h1>Servicios</h1>
    
    </div>
    
    <div class="column column-dos-tercios">
      <h2>Valuaciones en materia:</h2>
      <div class="feature">
        <h5><i class="fa fa-money"></i> Comercial</h5>
        <h5><i class="fa fa-gavel"></i> Judicial</h5>
        <h5><i class="fa fa-home"></i> Catastral</h5>
      </div>

      <h2>Propiedades que valoramos:</h2>
  
  <div class="columns">
     <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon8.png"/>
        <h3>Hatos<br>ganaderos</h3>
      </div>          
    </div>
    <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon2.png"/>
        <h3>Terrenos<br>urbanos</h3>
      </div>          
    </div>
    <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon3.png"/>
        <h3>Campos<br>agrícolas</h3>
      </div>          
    </div>
      <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon4.png"/>
        <h3>Ranchos<br>ganaderos</h3>
      </div>          
    </div>

  </div>

  <div class="columns">

    <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon1.png"/>
        <h3>Casas<br>habitación</h3>
      </div>
    </div> 
    <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon7.png"/>
        <h3>Vehiculos<br>automotrices</h3>
      </div>          
    </div>

    <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon5.png"/>
        <h3>Maquinaria<br>agrícola</h3>
      </div>          
    </div>

    <div class="column column-cuartos">
      <div class="feature">
        <img src="/imagenes/icon6.png"/>
        <h3>Maquinaria<br>pesada</h3>
      </div>          
    </div>

  </div>

</div>


  



</div>
</div>