#banner {

	background-image: url('/imagenes/home3.jpg');
	background-size: 100vw 100vh;
	height: 100vh;
	padding-top: 30px;
	

	.tagline {
		font-size: 4.5em;
		line-height: 1em;
		letter-spacing: 2px;
		padding-bottom: 30px;
		// color: rgba(255,255,255,0.8);
		font-weight: 400;
	
		margin-right:40px;
	}

	.bullets {
		padding-top: 25px;
		font-size: 1em;
		letter-spacing: 2px;

		line-height: 1em;
		font-weight: 400;
		font-style: italic;
		border-bottom: none;
		// color: rgba(255,255,255,0.8);
		text-align: left;

		li {
			padding-bottom:20px;
		}
	}

	h4 {
		
	}

	
}