.feature {
	padding-bottom: 40px;

	img {
		width: 70%;
		display: inline;
		text-align: center;
	}

	h3 {
		font-size: 0.7em;
		padding-top: 15px;
		padding-bottom: 8px;
		letter-spacing: 2px;
		text-transform: none;
		line-height: 20px;
		color: rgb(69,69,69);
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
	}


	h5 {
		padding-left: 30px;
	font-size: 0.8em;
	letter-spacing: 2px;
	line-height: 40px;
	text-transform: uppercase;
	color: rgb(77,77,77);

	}

	i {
		font-size: 10em;
	}

}
