.section {
	@include group;
	padding-top: 30px;
	padding-bottom: 20px;
}

.section-grey {
	padding: 100px 40px 100px 40px;
	border: 1px solid rgb(211,211,211);
	background: whitesmoke;

	h3 {
		line-height: 1.5em;
		padding-bottom: 30px;
		font-weight: 800;
	}

	em {
		font-variant: normal;
		font-weight: 500;
		font-size: 0.6em;
	}
}

.section-cv {
	padding-right: 0px;
	padding-bottom: 80px;
	text-align: justify;

	h2 {
		font-size: 0.9em;
		line-height: 15px;
		letter-spacing: 1px;
		font-weight: 600;
		padding-bottom: 20px;
	}

	p + p {
		padding-bottom: 80px;
	}
}

.section-contacto {
	overflow: hidden;
	margin-top:100px;
	.contacto-item {
		.fa {
			font-size:0.8em;
			color:#666;
			margin-right: 10px;
		}

		float:left;
		margin-right: 100px;
	}

}

.section-contacto.phone {
	margin-bottom:120px;
}

.section-contacto.media {
	margin-top: 5px;
}

.section-hero {
	position: relative;
	text-align: center;
	.logo {
		position: absolute;
		left:0;
		right:0;
		top:15%;
	}

	.banner {
		position: absolute;
		left:0;
		right:0;
		bottom:25%;
	}

	.continue {
		position: absolute;
		bottom:5%;
		margin-left:-24px;
	}
}

.section-intro-left {
	text-align: right;
	.fa {
		font-size: 7em;
		color: rgb(47,47,47);
		padding-bottom: 40px;
		padding-right: 60px;
	}
}

.section-intro-right {
	text-align: left;
		h3 {
		font-weight: 600;
		font-size: 1.3em;
		letter-spacing: 0.2px;
		display: inline-block;
		color: rgb(47,47,47);
		padding-top: 10px;
	}
		h4 {
		padding-bottom: 25px;
		font-size: 0.8em;
		font-style: normal;
		letter-spacing: 0.2px;
		color: grey;
	}	
}

.section-intro {

}

.section-der {
	float: right;
	padding-top: 10px;
	display: inline-block;
	padding-bottom: 70px;
}

.section-full-screen {
	height: 100vh;
}

.section-faq {
	background-color: rgb(242,242,242);
	padding-top: 200px;
	padding-bottom: 150px;
	border-top: 1px solid rgb(213,213,213);

	h4 {
		font-size: 0.8em;
		letter-spacing: 0.8px;
		line-height: 1.4em;
		padding-right: 40px;
		margin-bottom: 5px;
		font-weight: 600;
	}

	p {
		font-size: 0.7em;
		letter-spacing: 0.5px;
		padding-right: 40px;
		margin-bottom: 20px;
		line-height: 1.6em;
		text-align: justify;
		font-weight: 200;
	}
}
